.heroSection {
  background-color: #fbf7f5;
}

body {
  background-color: #fbf7f5;
}

nav {
  color: #1b3d41;
  display: flex;
  justify-content: center;
}

h1 {
  color: #ffffff;
}

p {
  color: #ffffff;
}
