*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-family: 'Space Mono', monospace;
}

a {
  text-decoration: none;
  color: #1b3d41;
}
